<?xml version="1.0"?>

<!-- 
remap topics with args foo:=bar
multiple remaps
absolute paths
parameters that change the node's behaviour
 -->

<launch>
    <!-- topic_cpp -->
    <node name="topic_cpp"
          pkg="ros_launch_lint"
          type="topic_cpp"
          args="chatter:=foobar"
          required="true">
        <!--
        <topics>
            <topic name="foobar"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="foobar"
                   type="std_msgs/String"
                   class="sub"/>
            <topic name="chatter2"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="chatter3"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="chatter3"
                   type="std_msgs/String"
                   class="sub"/>
            <topic name="chatter4"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="chatter4"
                   type="std_msgs/String"
                   class="sub"/>
            <topic name="chatter5"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="chatter6"
                   type="std_msgs/String"
                   class="pub"/>
        </topics>
        -->
    </node>
    
    <group ns="xyz">
    <!-- topic_cpp -->
    <node name="topic_cpp2"
          pkg="ros_launch_lint"
          type="topic_cpp"
          args="chatter:=foobar /xyz/chatter2:=/bla/blubb"
          required="true">
        <!--
        <topics>
            <topic name="foobar"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="foobar"
                   type="std_msgs/String"
                   class="sub"/>
            <topic name="/bla/blubb"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="chatter3"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="chatter3"
                   type="std_msgs/String"
                   class="sub"/>
            <topic name="chatter4"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="chatter4"
                   type="std_msgs/String"
                   class="sub"/>
            <topic name="chatter5"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="chatter6"
                   type="std_msgs/String"
                   class="pub"/>
        </topics>
        -->
    </node>
    </group>
    
    <group ns="abc">
    <!-- topic_cpp -->
    <node name="topic_cpp3"
          pkg="ros_launch_lint"
          type="topic_cpp"
          args="chatter3:=foobar --remap-chatter2 baz"
          required="true">
        <!--
        <topics>
            <topic name="chatter"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="chatter"
                   type="std_msgs/String"
                   class="sub"/>
            <topic name="baz"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="foobar"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="foobar"
                   type="std_msgs/String"
                   class="sub"/>
            <topic name="chatter4"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="chatter4"
                   type="std_msgs/String"
                   class="sub"/>
            <topic name="chatter5"
                   type="std_msgs/String"
                   class="pub"/>
            <topic name="chatter6"
                   type="std_msgs/String"
                   class="pub"/>
        </topics>
        -->
    </node>
    </group>
</launch>
